:host {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  width: 50%;
}

mat-spinner {
  align-self: center;
}

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}