<mat-card>
	<mat-card-header>
		<div class="row">
			<div class="col">
				<img src="{{ country.flag }}" width="100px">
			</div>
			<div class="col">
        <h3>{{ country.name }}</h3>
        <span class="label">({{ country.nativeName }})</span>
			</div>
		</div>
	</mat-card-header>
	<mat-card-content>
		<div class="row">
			<h6>Codes</h6>
			<table class="table table-bordered">
				<tbody>
					<tr>
						<td class="label">ISO 3166-1 alpha-2</td>
						<td>{{ country.alpha2Code }}</td>
					</tr>
					<tr>
						<td class="label">ISO 3166-1 alpha-3</td>
						<td>{{ country.alpha3Code }}</td>
					</tr>
					<tr>
						<td class="label">International calling code</td>
						<td>{{ country.callingCodes[0] }}</td>
					</tr>
					<tr>
						<td class="label">ISO 4217 currency code</td>
						<td>{{ country.currencies[0].code }}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- <div class="row">
			<h6>Languages</h6>
			<table class="table table-bordered">
				<tbody>
					<tr *ngFor="let language of country.languages">
						<td class="label">{{ language.iso639_2 }}</td>
						<td>{{ language.name }}</td>
					</tr>
				</tbody>
			</table>
		</div> -->
		<div class="row">
			<h6>Geography</h6>
			<table class="table table-bordered">
				<tbody>
					<tr>
						<td class="label">Region</td>
						<td>{{ country.region }}</td>
					</tr>
					<tr>
						<td class="label">Subregion</td>
						<td>{{ country.subregion }}</td>
					</tr>
					<tr>
						<td class="label">Capital</td>
						<td>{{ country.capital }}</td>
					</tr>
					<tr>
						<td class="label">Lat/Lng</td>
						<td>{{ country.latlng[0] }}, {{ country.latlng[1] }}</td>
					</tr>
					<tr>
						<td class="label">Area</td>
						<td>{{ country.area }}km<sup>2</sup></td>
					</tr>
				</tbody>
			</table>
		</div>
	</mat-card-content>
</mat-card>